---
feature_name: Web Bluetooth / Notifications (Async Await)
chrome_version: 55
check_min_version: true
feature_id: 5264933985976320
icon_url: icon.png
index: index.html
---
<script type="text/javascript" src="moment.js"></script>

<script type="text/javascript" src="Chart.js"></script>

<script type="text/javascript" src="chartjs-plugin-streaming.js"></script>

<script>

  let dataFromSensor =[];

</script>


<p>Load Sensor Start 01 - chartjs</p>

<form>
  <input id="service" type="text" list="services" autofocus placeholder="Bluetooth Service">
  <input id="characteristic" type="text" list="characteristics" placeholder="Bluetooth Characteristic">
  <button id="startNotifications">Start notifications</button>
  <button id="stopNotifications">Stop notifications</button>
</form>

{% include_relative _includes/datalist-services.html %}
{% include_relative _includes/datalist-characteristics.html %}

<canvas id="myChart"></canvas>


{% include output_helper.html %}

{% include js_snippet.html filename='notifications-async-await.js' %}





<script>


  document.querySelector('#startNotifications').addEventListener('click', function(event) {
    event.stopPropagation();
    event.preventDefault();

    if (isWebBluetoothEnabled()) {
      ChromeSamples.clearLog();
      onStartButtonClick();
    }
  });
  document.querySelector('#stopNotifications').addEventListener('click', function(event) {
    event.stopPropagation();
    event.preventDefault();

    if (isWebBluetoothEnabled()) {
      onStopButtonClick();
    }
  });
</script>

<script>
  
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
  animation: {
        duration: 0
    },

  type: 'line',

  data: {

    datasets: [{

      label: 'Load Cell Data',

      borderColor: 'rgb(54, 162, 235)',

      backgroundColor: 'rgba(54, 162, 235, 0.5)',

      data2: []

    }]

  },

  options: {
    animation: {
            duration: 0, // general animation time
        },
        hover: {
            animationDuration: 0, // duration of animations when hovering an item
        },
        responsiveAnimationDuration: 0, // animation duration after a resize
    },

    scales: {

      xAxes: [{
        

        type: 'realtime',

        realtime: 

        {
 
          duration: 200000,
          refresh: 50,


          onRefresh: function(chart) {

            chart.data.datasets.forEach(function(dataset) {

              dataset.data.push({

                x: Date.now(),

                //y: Math.random()
                y: dataFromSensor.slice(-1)[0]

              });

            });

          }
        }

      }],

      yAxes: [{
            display: true,
            ticks: {
                min: 0,
                max: 5,
                stepSize: 50
            }
        }]

    }

  }

});

</script>

{% include_relative _includes/utils.html %}
